
# PlanAhead Generated IO constraints 

NET "hsync" IOSTANDARD = LVCMOS33;
NET "clock_FPGA" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "vsync" IOSTANDARD = LVCMOS33;
NET "sw[2]" IOSTANDARD = LVCMOS33;
NET "sw[1]" IOSTANDARD = LVCMOS33;
NET "sw[0]" IOSTANDARD = LVCMOS33;
NET "RGB[11]" IOSTANDARD = LVCMOS33;
NET "RGB[10]" IOSTANDARD = LVCMOS33;
NET "RGB[9]" IOSTANDARD = LVCMOS33;
NET "RGB[8]" IOSTANDARD = LVCMOS33;
NET "RGB[7]" IOSTANDARD = LVCMOS33;
NET "RGB[6]" IOSTANDARD = LVCMOS33;
NET "RGB[5]" IOSTANDARD = LVCMOS33;
NET "RGB[4]" IOSTANDARD = LVCMOS33;
NET "RGB[3]" IOSTANDARD = LVCMOS33;
NET "RGB[2]" IOSTANDARD = LVCMOS33;
NET "RGB[1]" IOSTANDARD = LVCMOS33;
NET "RGB[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "RGB[11]" LOC = A4;
NET "RGB[10]" LOC = C5;
NET "RGB[9]" LOC = B4;
NET "RGB[8]" LOC = A3;
NET "RGB[7]" LOC = A6;
NET "RGB[6]" LOC = B6;
NET "RGB[5]" LOC = A5;
NET "RGB[4]" LOC = C6;
NET "RGB[3]" LOC = D8;
NET "RGB[2]" LOC = D7;
NET "RGB[1]" LOC = C7;
NET "RGB[0]" LOC = B7;
NET "sw[0]" LOC = U9;
NET "sw[1]" LOC = U8;
NET "sw[2]" LOC = R7;
NET "vsync" LOC = B12;
NET "hsync" LOC = B11;
INST "clock_FPGA_BUFGP" LOC = E3;
NET "clock_FPGA" LOC = E3;
NET "reset" LOC = E16;
