

NET "btn_Nexys[4]" IOSTANDARD = LVCMOS33;
NET "btn_Nexys[3]" IOSTANDARD = LVCMOS33;
NET "btn_Nexys[2]" IOSTANDARD = LVCMOS33;
NET "btn_Nexys[1]" IOSTANDARD = LVCMOS33;
NET "btn_Nexys[0]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[7]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[6]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[5]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[4]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[3]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[2]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[1]" IOSTANDARD = LVCMOS33;
NET "dato_RTC[0]" IOSTANDARD = LVCMOS33;
NET "RGB[11]" IOSTANDARD = LVCMOS33;
NET "RGB[10]" IOSTANDARD = LVCMOS33;
NET "RGB[9]" IOSTANDARD = LVCMOS33;
NET "RGB[8]" IOSTANDARD = LVCMOS33;
NET "RGB[7]" IOSTANDARD = LVCMOS33;
NET "RGB[6]" IOSTANDARD = LVCMOS33;
NET "RGB[5]" IOSTANDARD = LVCMOS33;
NET "RGB[4]" IOSTANDARD = LVCMOS33;
NET "RGB[3]" IOSTANDARD = LVCMOS33;
NET "RGB[2]" IOSTANDARD = LVCMOS33;
NET "RGB[1]" IOSTANDARD = LVCMOS33;
NET "RGB[0]" IOSTANDARD = LVCMOS33;
NET "sw_Nexys[2]" IOSTANDARD = LVCMOS33;
NET "sw_Nexys[1]" IOSTANDARD = LVCMOS33;
NET "sw_Nexys[0]" IOSTANDARD = LVCMOS33;
NET "a_d" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "cs" IOSTANDARD = LVCMOS33;
NET "hsync" IOSTANDARD = LVCMOS33;
NET "rd" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "vsync" IOSTANDARD = LVCMOS33;
NET "wr" IOSTANDARD = LVCMOS33;
NET "dato_RTC[7]" PULLUP;
NET "dato_RTC[6]" PULLUP;
NET "dato_RTC[5]" PULLUP;
NET "dato_RTC[4]" PULLUP;
NET "dato_RTC[3]" PULLUP;
NET "dato_RTC[2]" PULLUP;
NET "dato_RTC[1]" PULLUP;
NET "dato_RTC[0]" PULLUP;


NET "btn_Nexys[4]" LOC = E16;
NET "btn_Nexys[3]" LOC = R10;
NET "btn_Nexys[2]" LOC = T16;
NET "btn_Nexys[0]" LOC = F15;
NET "btn_Nexys[1]" LOC = V10;
NET "RGB[11]" LOC = A4;
NET "RGB[10]" LOC = C5;
NET "RGB[9]" LOC = B4;
NET "RGB[8]" LOC = A3;
NET "RGB[7]" LOC = A6;
NET "RGB[6]" LOC = B6;
NET "RGB[5]" LOC = A5;
NET "RGB[4]" LOC = C6;
NET "RGB[3]" LOC = D8;
NET "RGB[2]" LOC = D7;
NET "RGB[1]" LOC = C7;
NET "RGB[0]" LOC = B7;
NET "reset" LOC = P4;
NET "sw_Nexys[2]" LOC = R7;
NET "sw_Nexys[1]" LOC = U8;
NET "sw_Nexys[0]" LOC = U9;
NET "hsync" LOC = B11;
NET "vsync" LOC = B12;
NET "clk" LOC = E3;
NET "dato_RTC[0]" LOC = G14;
NET "dato_RTC[1]" LOC = P15;
NET "dato_RTC[2]" LOC = V11;
NET "dato_RTC[3]" LOC = V15;
NET "dato_RTC[4]" LOC = K16;
NET "dato_RTC[7]" LOC = U11;
NET "dato_RTC[6]" LOC = T9;
NET "dato_RTC[5]" LOC = R16;
NET "a_d" LOC = B13;
NET "rd" LOC = F14;
NET "wr" LOC = D17;
NET "cs" LOC = E17;


NET "sw_Nexys[3]" IOSTANDARD = LVCMOS33;


NET "sw_Nexys[3]" LOC = R6;


NET "clk_ext" LOC = G13;

# PlanAhead Generated IO constraints 

NET "clk_ext" IOSTANDARD = LVCMOS33;
